body{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: hsl(258, 71%, 66%);
    color: rgb(255, 255, 255);
    margin: 0px;
    margin-bottom: 60px;
}
h1{
    color: hsl(240, 100%, 27%);
    font-size: 60px;
    font-weight: bold;
}
h2{
    color: #2a0074;
    font-size: 40px;
}
h3{
    color: #2a0074;
    font-size: 22px;
    font-style: italic;
}
img{
    width: 100%;
}
.titulo-verde{
    color: #04ff9f;
}
.titulo-vermelho{
    color: #FF9E9E;
}
.titulo-amarelo{    
    color: #ffe36d;
}
section{
    width: 60%;
    margin: 0 auto;
}
section section{
    width: 100%;
}
p{
    font-size: 20px;
    line-height: 1.5;
}
ul{
  list-style-type: none;
  line-height: 2;
  padding-left: 0;
}
a{
  text-decoration: none;
  color: #99ffff;
  font-weight: 700;
}
.principal a{
    color: white;
    text-decoration: underline;
    font-weight: normal;
    font-size: 24px;
}
.principal{
    margin-top: 40px;
    background-color: #FF6CB5;
    max-width: 60%;
    margin: 0 auto;
}
.principal li{
    display: inline-block;
    line-height: 2.5;
    margin: 0 90px;
}
button{
    background-color: #41f341;
    color: rgb(0, 0, 0);;
    padding: 2px 20px;
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;

}