body{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f8f8f8;
    color: #000A11;
    margin: 0px;
    margin-bottom: 60px;
}
h1{
    color: 	#0000f8;
    font-size: 60px;
    font-weight: bold;
}
h2{
    color: 	#3e3ef8;
    font-size: 40px;
}
h3{
    color: #3e3ef8;
    font-size: 22px;
    font-style: italic;
}
img{
    width: 100%;
}
.titulo-verde{
    color: #3e3ef8;
}
.titulo-vermelho{
    color: #3e3ef8;
}
.titulo-amarelo{    
    color: #3e3ef8;
}
section{
    width: 60%;
    margin: 0 auto;
}
section section{
    width: 100%;
}
p{
    font-size: 20px;
    line-height: 1.5;
}
ul{
    list-style-type: none;
    line-height: 2;
    padding-left: 0;
}
a{
    text-decoration: none;
    color: #0000f8;
    font-weight: 700;
    font-size: 20px;
}
.principal a{
    color: #000A11;
    text-decoration: underline;
    font-weight: normal;
    font-size: 20px;
}
.principal{
    margin-top: 40px;
    background-color: #f8f8f8;
    max-width: 60%;
    margin: 0 auto;
}
.principal li{
    display: inline-block;
    line-height: 2.5;
    margin: 0 70px;
}
button{
    background-color: #0000f8;
    color: white;
    padding: 2px 20px;
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    
}